@keyframes fadeInAnimation { 
    0% { 
        opacity: 0; 
    } 
    100% { 
        opacity: 1; 
     } 
} 

body{
    animation: fadeInAnimation ease 1s ;
    animation-iteration-count: 1; 
    animation-fill-mode: forwards; 
}

input:focus,button{
    outline: none;
}

.logo{
    display: block;
    margin: 0 auto;
    margin-bottom:50px;
}
.container{
    display: block;
    margin: 0 auto;
    width: 50vw;
    background-color:#F9F9F9 ;
    padding: 10px;
    text-align: center;
    padding: 15px;
    font-family: calibri;
    font-size: medium;
}
.ross-container{
    display: flex;
    justify-content: center;
}
.ross-text{
    text-align: left;
    width: 90%;
    margin-top: 38px;
    margin-left: -30px;
}
.username-entry{
    width: 300px;
    height: 40px;
    font-size: 15px;
    border: none;
    border-bottom: navy 3px solid;
    margin-bottom: 10px;
}
.next-button-holder{
    display: flex;
    justify-content: center;
}
.next-button,.yes-button,.no-button{
    width: 300px;
    height: 35px;
    margin-top: 5px;
    background-color:#ADC940;
    border: none;
    color: #000;
    font-weight:600;
    font-size: medium;
    opacity: 0.8;
    cursor:pointer;
}
.no-button{
    background-color: #ccc;
    margin-left: 10px;
    cursor:pointer;
}
.font-size-button{
    border: none;
    background-color: white;
    margin-left: 10px;
    box-shadow: 10px 5px 5px #C3C3C3;
    width: 150px;
    height: 50px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}
.speak-button{
    margin-top: 5px;
    cursor:pointer;
}
.username-speak-container{
    display: flex;
    justify-content: center;
    margin-left: 50px;
}

h1{
    color: navy;
    width: 100%;
}
.colour-options {
    width: 25%;
    margin: 0 5px -10px 0;
    display: flex;
    justify-content: center;
}
.colour_blocks {
    width: 100%;
    height: 35px;
    cursor: pointer;
}
a {
    width: 100%;
}
.cool_colours1 {
    background: #000;
}
.cool_colours2 {
    background: #A4CAEE;
}
.warm_colours1 {
    background: #F11E10;
}
.warm_colours2 {
    background: #EB7B15;
}
.purple_colours1 {
    background: #8E2991;
}
.purple_colours2 {
    background: #8A5991;
}
.bw_colours1 {
    background: #000;
}
.bw_colours2 {
    background: #fff;
}

.hp_squares {
    padding: 15px;
    margin: 4px;
    width: 40%;
    height: 350px;
    cursor:pointer;
    box-shadow: 10px 5px 5px #C3C3C3;
}

.hp_squares img{
    width: 80%;
}
.sub-container-categories{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.back-container{
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.back_icon {
    width: 35px;
    margin: 0 10px;
}
.go_back {
    align-items: center;
    display: flex;
    cursor:pointer;
}
.pictures {
    text-align: left;
}
.quiz_squares {
    padding: 15px;
    margin: 4px;
    width: 40%;
    height: 310px;
    cursor:pointer;
    box-shadow: 10px 5px 5px #C3C3C3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.fa-star {
    color: green;
    font-size: 1.5rem;
    animation-name: starAnimation;
    animation-duration: 5000ms;
    animation-iteration-count: 2; 
    animation-timing-function: linear; 
}
@keyframes starAnimation { 
    0% { 
        transform:rotate(0deg);
    } 
    100% { 
        transform:rotate(360deg); 
     } 
}
.ross-text-wide {
    width: 450px;
}
@media only screen and (max-width: 800px) {
    .container {
        width: 90%;
    }
    .hp_squares {
        padding: 10px;
        margin: 2px;
        width: 46%;
        height: 260px;
    }
    .quiz_squares {
        padding: 10px;
        margin: 2px;
        width: 46%;
        height: 230px;
    }
}
@media only screen and (max-width: 415px) {
    .container {
        width: 90%;
    }
    .hp_squares {
        padding: 5px;
        margin: 2px;
        width: 45%;
        height: 170px;
    }
    .quiz_squares {
        padding: 5px;
        margin: 2px;
        width: 45%;
        max-width: 230px;
        height: 170px;
    }
    
}